:root {
    --default-code-color: #dfdde9;
}

code:not(pre > code) {
    color: var(--default-code-color);
    padding: 1px;
    border-radius: 5px;
}

code:not(pre > code, .inline-code) {
    color: #d19a66;
}

code:not(pre > code, :target code, a > code), :target.with-desc code {
    border: 2px solid var(--background-primary-color);
    background-color: var(--background-secondary-color);
}

a > code {
    border: 1px dashed var(--link-color);
    padding: 1px;
    background-color: var(--background-secondary-color);
}

pre {
    background-color: var(--list-background-color);
    padding: 16px;
    border: 1px solid var(--background-primary-color);
    box-shadow: 0 0 0 2px var(--background-secondary-color);
    font-size: 14px;
    color: var(--default-code-color);
}


.token.tag { color: #e06c75; }
.token.number, .token.property, .token.attr-name { color: #d19a66; }
.token.class-name { color: #e6c07b; }
.token.string, .token.attr-value, .token.attr-value>.token.punctuation:not(.attr-equals) { color: #98c379; }
.token.function { color: #61aeee; }
.token.keyword, .token.boolean { color: #c678dd; }
.token.comment { color: #5c6370; }
.token.punctuation { color: var(--default-code-color); }